*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: questrial;
}
@font-face {
    font-family: manaslva;
    src: url(./assests/fonts/Mansalva-Regular.ttf);
}
@font-face {
    font-family: questrial;
    src: url(././assests/fonts/Questrial-Regular.ttf);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav_bar_table{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}
#restaurent_name{
    font-family: manaslva;
    cursor: pointer;
}
#menu_pic_holder{
    display: flex;
    align-items: center;
    gap: 1.3vh;
    cursor: pointer;
}
#list_continer{
    font-size: 3vh;
    display: flex;
    font-weight: 550;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
    width: auto;
}
.lis{
    list-style-type: none;
    cursor: pointer;
}
.lis:hover{
    color: orange;    
}
#profile_picture{
    height: 4.6vh;
    color: black;
    filter: contrast(0);
    border-radius: 50%;
    box-shadow: 0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black;
}
#menu_button_options{
    font-size: 4vh;
    width: auto;
    height: auto;
    padding: 4vh;
    z-index: 3;
    position: absolute;
    top: 8vh;
    left: 80vw;
    border-radius: 5vh;
    background-color: white;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: all 250ms linear;
    border: 0.4vh solid black;
}
#book_table{
    color: orange;
    font-size: 7vh;
    position: relative;
    top: 20vh;
    left: -11vw;
}
#date_conatiner{
    position: relative;
    top: 33vh;
}
.date_time_selecters{
    outline: none;
    border: 0.3vh solid orange;
    padding: 2vh;
    border-radius: 1vh;
    font-size: 3vw;
}
#book_table_button{
    font-size: 4vh;
    position: relative;
    top: 43vh;
    border-radius: 10vh;
    outline: none;
    border: none;
    cursor: pointer;
    height: 8vh;
    padding: 2vh;
    background-color: lightgray;
    transition: all 300ms linear;
}
/* #book_table_button:hover{
    background-color: royalblue ;
} */
#book_table_button:active{
    background-color: gray;
    scale: 0.90;
}
@media only screen and (max-width:426px) {
    #order_food_button,#feed_back_button{
        display: none;
    }
    #menu_button{
        font-size: 3vh;
    }
    #restaurent_name{
        font-size: 3vh;
    }
    #book_table{
        text-align: center;
        left: 2vh;
        font-size: 6vh;
    }
    #menu_button_options{
        width: 50vw;
        left: 40%;
        height: 30vh;
    }
}
@media only screen and (max-width:768px){
    #menu_button_options{
        width: 30%;
        left: 65%;
        height: 30vh;
    }
    
}