*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: questrial;
}
@font-face {
    font-family: manaslva;
    src: url(./assests/fonts/Mansalva-Regular.ttf);
}
@font-face {
    font-family: questrial;
    src: url(././assests/fonts/Questrial-Regular.ttf);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#nav_bar_table{
    color: white;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}
#restaurent_name{
    font-family: manaslva;
    cursor: pointer;
}
#menu_pic_holder{
    /* background-color: white; */
    display: flex;
    align-items: center;
    gap: 1.3vh;
    cursor: pointer;
}
#list_continer{
    font-size: 3vh;
    display: flex;
    font-weight: 550;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
    width: auto;
}
.lis{
    list-style-type: none;
    font-size: 3vh;
    cursor: pointer;
}
.lis:hover{
    color: orange;    
}
#profile_picture{
    height: 4.6vh;
    color: black;
    filter: contrast(0);
    border-radius: 50%;
    box-shadow: 0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black;
}
/* menu button */
#menu_button_options{
    font-size: 4vh;
    width: 17vw;
    height: 20vh;
    z-index: 3;
    position: absolute;
    top: 8vh;
    left: 80%;
    background-color: white;
    border-radius: 5vh;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: all 250ms linear;
}
#food_items{
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
#starters,#main_course,#desserts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.headings{
    text-align: center;
    color: white;
    margin-top: 10vh;
    margin-bottom: 2vh;
    font-size: 10vh;
}
#starters_heading{
    margin-top: 2vh;
}
.dish{
    margin: 2vh;
    width: 30vw;
    height: 35vh;
    border-radius: 5vh;
    cursor: pointer;
    padding: 3vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
}
.dish:hover{
    scale: 1.02;
    border: 0.6vh solid white;
}
.food_image{
    border-radius: 2vh;
    width: 55%;
    margin-bottom: 2vh;
    box-shadow: 0px 0px 1vh black;
}
.price{
    font-size: 3vh;
    font-weight: bold;
}
@media only screen and (max-width:426px) {
    #order_food_button,#feed_back_button{
        display: none;
    }
    #menu_button{
        font-size: 3vh;
    }
    #restaurent_name{
        font-size: 3vh;
    }
    .dish{
        width: 60%;
        height: 40vh;
        padding: 2vh;
    }
    .food_image{
        width: 90%;
    }
    #menu_button_options{
        width: 50%;
        left: 40%;
        height: 30vh;
    }
}
@media only screen and (max-width:768px) {
    .food_image{
        width: 90%;
    }
    #Event_book_heading{
        font-size: 7vh;
        top: 28vh;
        left: -6vh;
    }
    #event_select_div{
        position: relative;
        left: -10vh;
        top: 31vh;
    }
    #menu_button_options{
        width: 30%;
        left: 65%;
        height: 30vh;
    }
}