*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: questrial;
}
@font-face {
    font-family: manaslva;
    src: url(./assests/fonts/Mansalva-Regular.ttf);
}
@font-face {
    font-family: questrial;
    src: url(././assests/fonts/Questrial-Regular.ttf);
}
body{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav_bar_table{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}
#restaurent_name{
    font-family: manaslva;
    cursor: pointer;
}
#menu_pic_holder{
    display: flex;
    align-items: center;
    gap: 1.3vh;
    cursor: pointer;
}
#list_continer{
    font-size: 3vh;
    display: flex;
    font-weight: 550;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
    width: auto;
}
.lis{
    list-style-type: none;
    font-size: 3vh;
    cursor: pointer;
}
.lis:hover{
    color: orange;    
}
#profile_picture{
    height: 4.6vh;
    color: black;
    filter: contrast(0);
    border-radius: 50%;
    box-shadow: 0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black;
}
#menu_button_options{
    font-size: 4vh;
    width: 17vw;
    height: 20vh;
    z-index: 3;
    position: absolute;
    top: 8vh;
    left: 80vw;
    border-radius: 5vh;
    background-color: white;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: all 250ms linear;
    border: 0.4vh solid black;
}
#Event_book_heading{
    color: mediumvioletred;
    font-size: 5vw;
    position: relative;
    top: 16vh;
}
#event_select_div{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25vh;
    font-size: 4vh;
}
#event_selection{
    width: 20vw;
    height: 4.5vh;
    font-size: 3vh;
}
#date_conatiner{
    position: relative;
    top: 33vh;
}
.date_time_selecters{
    outline: none;
    border: 0.3vh solid royalblue;
    padding: 2vh;
    border-radius: 1vh;
    font-size: 3vw;
}
#Event_book_button{
    font-size: 4vh;
    position: relative;
    top: 43vh;
    border-radius: 10vh;
    outline: none;
    border: none;
    cursor: pointer;
    height: 8vh;
    padding: 2vh;
    background-color: lightgray;
    transition: all 300ms linear;
}
#Event_book_button:active{
    background-color: gray;
    scale: 0.90;
}
@media only screen and (max-width:426px) {
    #order_food_button,#feed_back_button{
        display: none;
    }
    #menu_button{
        font-size: 3vh;
    }
    #restaurent_name{
        font-size: 3vh;
    }
    #Event_book_heading{
        font-size: 5vh;
        left: 20%;
    }
    #label_choose{
        position: relative;
        left: 20%;
    }
    #event_select_div{
        width: 100%;
        top: 31vh;
        /* left: 26vh; */
    }
    #label_choose{
        text-align: center;

    }
    #event_selection{
        width: 70vw;
        position: relative;
        left: 18vh;
    }
    #menu_button_options{
        width: 50%;
        left: 40%;
    }
}
@media only screen and (max-width:768px) {
    #Event_book_heading{
        font-size: 7vh;
        top: 28vh;
        left: -6vh;
    }
    #event_select_div{
        position: relative;
        left: -10vh;
        top: 31vh;
    }
    #event_selection{
        width: 45vw;
    }
    #menu_button_options{
        width: 30%;
        left: 65%;
        height: 30vh;
    }
}